h1 {
    color : purple;
}

.input {
    height: 65vh;
    text-align: center;
    font-size : 25px;
    width: 50%;
    float: left;
}

.output {
    float: right;
    width: 48% ;
    font-size: 25px;
}

